.card {
  position: relative;
  width: 360px;
  height: 500px;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid var(--color-light-dark);
  cursor: pointer;
  transition: all 0.45s ease-in-out;
}
.card:hover {
  border: 1px solid #8903ff41;
}
.background {
  position: absolute;
  background-color: #000000de;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  z-index: -1;
}

.content {
  position: relative;
  padding: 2rem;
  height: 100%;
  color: #ffffff;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content span {
  text-transform: uppercase;
  color: var(--color-dark-gray);
  font-size: 1.75rem;
}

.content h2 {
  text-transform: uppercase;
  font-size: 3.625rem;
  margin: 1rem 0;
}

.content ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.content ul li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.125rem;
}

.content a {
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(
    --color-dark-skeleton
  ); /* Color gris para el skeleton */
  z-index: 3; /* Encima del contenido inicialmente */
  pointer-events: none; /* Permite clics a través del overlay */
  background: linear-gradient(
    90deg,
    var(--color-dark-skeleton),
    var(--color-light-skeleton),
    var(--color-dark-skeleton)
  );
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
}

/* Opcional: Simular líneas de skeleton */
.overlay::before {
  content: "";
  position: absolute;
  top: 2.3rem;
  left: 2rem;
  width: 210px;
  height: 1.75rem;
  border-radius: 0.2rem;
  background-color: var(--color-light-skeleton);
}

.overlay::after {
  content: "";
  position: absolute;
  top: 7.5rem;
  left: 2rem;
  width: 240px;
  height: 3.625rem;
  border-radius: 0.2rem;
  background-color: var(--color-light-skeleton);
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.bg_stars {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.stars_container {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.stars {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 224px;
  width: 1128px;
  overflow: hidden;
  mask-image: radial-gradient(
    43.18% 100% at 50% 100%,
    #e3efff 54.17%,
    rgba(227, 239, 255, 0) 100%
  );
}

.stars_inner {
  position: absolute;
  inset: 0;
}

.star {
  position: absolute;
  width: 3px;
  height: 3px;
  background: white;
  border-radius: 50%;
  box-shadow:
    50px 20px white,
    100px 150px white,
    150px 80px white,
    200px 200px white,
    250px 30px white,
    300px 170px white,
    350px 50px white,
    400px 120px white,
    450px 90px white,
    500px 180px white,
    550px 40px white,
    600px 160px white,
    650px 70px white,
    700px 130px white,
    750px 100px white,
    800px 190px white,
    850px 60px white,
    900px 140px white,
    950px 110px white,
    1000px 25px white,
    1050px 175px white,
    1100px 85px white;
  opacity: 0;
  visibility: hidden;
}
.card:hover .star {
  animation: stars 5s linear infinite;
  opacity: 1;
  visibility: visible;
}

@keyframes stars {
  0% {
    transform: translateY(180px);
    opacity: 1;
  }
  100% {
    transform: translateY(-198.529px);
    opacity: 0;
  }
}
