@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --color-primary: #8803ff;
  --color-secondary: #f469e2;
  --color-white: #ffffff;
  --color-dark: #000000;
  --color-light-dark: #171717;
  --color-dark-gray: #808080;

  --color-dark-skeleton: #2e2e2e;
  --color-light-skeleton: #363636;
  --font-primary: "Nunito", sans-serif;
}

body {
  background-color: var(--color-dark);
  color: var(--color-white);
  font-family: var(--font-primary);
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  font-weight: 800;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}
